# xray

[Github](https://github.com/xray/xray)
[ReadTheDocs](http://xray.readthedocs.org/)

In [9]:
# Read in cache data
import numpy as np

z = np.load('/home/ceholden/Documents/landsat_stack/p022r049/images/cache/yatsm_r100_n320_b8.npy.npz')
image_IDs, Y = z['image_IDs'], z['Y']

# Setup dimension names
import pandas as pd

band_names = ['Blue', 'Green', 'Red', 'NIR', 'SWIR1', 'SWIR2', 'Thermal', 'Mask']
dates = pd.to_datetime([s[9:16] for s in image_IDs], format='%Y%j')
cols = range(250)

# Create dataset
import xray
dat = xray.DataArray(Y, [('bands', band_names), 
                         ('time', dates), 
                         ('col', cols)])

In [10]:
dat.sel(bands='Blue').sel(col=100)

<xray.DataArray (time: 320)>
array([  279,   325,   349,   435,   375,   535,   342,   704,   570,
         323,   237,   328,  1598,   410,   244,   196,   237,   279,
         287,   254,   327,   305,   301,   457,   476,   480,   574,
         941,   311,   278,   253,   243,   732,   238,   232,   217,
         282,   217,   333,   362,   393,   315,  3121,   504,   605,
         546,   387,   239,  1593,   252,   237,   256,   302,   199,
         292,   352,   408,   503,   490,  2815,   917,   790,   300,
        1482,  1010,   394,   882,   252,   226,   279,   256,   326,
         354,   356,   355,   383,   469,   569,   389,   703,   530,
         888,  1623,   362,   207,   283,   248,   201,   268,   242,
         458,   909,   229,   439,  1419,   206,   214,   354,   552,
         313,   303,   399,   334,   410,   683,   608,   287,  2203,
         199,   678,   229,   379,   829,   205,   275,   229,   291,
         219,   401,   319,   415,   369,   398,  1087,   407,   260,
         193,   413,   197,   264,   334,   325,   305,   193,   238,
         197,   450,   289,   292,   417,   568,   521,  1652, 16000,
         272, 16000,   166,   609,   172,   260,   793,   475,   218,
         366,   206,   368,   388,   475,   452,  1077,   320,   191,
         146,   119,   238,   267,   391,   454, -9999,  1296, -9999,
        1058,   183,   235,   183, -9999, -9999,   193,   328,   225,
         342, -9999,   910,   803,   285, -9999,  3207,   241,   357,
         204,   267,   180,   306,   187,   235,   275,   321,   364,
       16000,   430,   453,   874,   163,   161,   226, 16000,   187,
         177,   204,  1707,   309, -9999,   809,   647,   538,  1374,
       -9999,   341,   540,   173,   254,   283,   288,   232,   227,
         348,   388,   433,   659,   389,   267,   337, -9999,   321,
         216, -9999,   296,   307,   454,   597,  1620,   363,   152,
         388,   225,   215,   296, -9999,   416,   567, 16000,  1162,
         245,   198,   164,   228,   252,   155,   230,   354,   443,
         550,   256,   408,   584, -9999,   223,   218,   209,   303,
         239,   366,   424,   455, -9999,   183,   288,   247,   321,
         157,   235, -9999, -9999,   298,   354,   349,  2463,   551,
       16000, 16000,   222,   560,  2640,   598,  1847,  2439,  3216,
         126,   135,   119,   167,   128,  2601,   289,   274,   118,
         321,   177,   281,   219,   421,   228,   215,   214,   240,
         250,  5376,   138,   145,  1605], dtype=int16)
Coordinates:
    bands    |S4 'Blue'
  * time     (time) datetime64[ns] 1993-01-09 1993-01-25 1993-02-10 ...
    col      int64 100